/* App.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #dddddd74;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 2rem; /* Aumenta el tamaño de la fuente */
  text-align: center; /* Centra el texto */
  color: #333; /* Cambia el color del texto */
  margin-bottom: 20px; /* Añade un margen en la parte inferior para separarlo de otros elementos */
  font-family: 'Arial', sans-serif; /* Cambia la fuente (opcional) */
}

h2 {
  font-size: 1.5rem; /* Ligeramente más pequeño que el h1 */
  text-align: center; /* Centra el texto */
  color: #333; /* Igual color que h1 para mantener coherencia */
  margin-top: 40px; /* Espacio antes del título */
  margin-bottom: 20px; /* Espacio después del título, antes de las notas */
  font-family: 'Arial', sans-serif; /* Mantiene la fuente coherente con h1 */
}

