/* Login page specific styling */
.login-body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  width: 300px;
}

.login-form label {
  margin-bottom: 5px;
  display: block;
  font-weight: bold;
}

.login-form input {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.login-form button {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
}

.login-form button:hover {
  background-color: #004494;
}

.login-form p {
  text-align: center;
}

.login-form a {
  color: #0066cc;
  text-decoration: none;
}

.login-form a:hover {
  text-decoration: underline;
}
